<div class="row">
  <div class="col-1">
    <h5> {{nota.id}} </h5>
  </div>
  <div class="col-3">
    <h5> {{nota.title}} </h5>
  </div>
  <div class="col-5">
    <h6> {{nota.body}} </h6>
  </div>
  <div class="col-3">
    <button class="btn btn-info" (click)="onView(nota)">View</button>
    <button class="btn btn-warning" (click)="onEdit(nota)">Edit</button>
    <button class="btn btn-danger" (click)="onDelete(nota)" *ngIf="sePuedeEditar">Delete</button>
    <button class="btn btn-orange" (click)="onMensaje()" *ngIf="!sePuedeEditar">¿Quiere borrar?</button>
  </div>
  
</div>
<br>
