<h3 class="text-center">Formulario de plantillas (template driven form)</h3>
<form class="row g-3" (ngSubmit)="onSubmit()">
  <div class="col-md-6">
    <label for="id" class="form-label">Número Id</label>
    <input type="number" class="form-control" id="id" name="id" [(ngModel)]="receivedNota.id" >
    <!-- NgModel no es necesario que tenga el nombre del id y del name -->
  </div>
  <div class="col-md-6">
    <label for="title" class="form-label">Título</label>
    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="receivedNota.title" >
  </div>
  <div class="col-md-6">
    <label for="body" class="form-label">Anotación</label>
    <input type="text" class="form-control" id="body" name="body" [(ngModel)]="receivedNota.body" >
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>

